@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&family=Suwannaphum:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Suwannaphum", serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;    
}

.menu {
    position: sticky;
    background-color: rgba(0,0,0,0.7);
    min-width: 100%;
    padding-left: 15vh;
    padding-right: 12vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 1px; 
    font-weight: 800;
    transition: 0.5s;
}

.logo:hover {
    transition: 0.5s;
    transform: scale(1.23);
}

.logo:active {
    transition: 0.5s;
    transform: scale(1.1);
}

.menu-titulo {
    margin: 0px;
    font-weight: 600;
    font-size: 21px;
    color: #fffdfc;
    position: relative;
    display: flex;
    margin-right: 18%;
}

.menu .navbar {
    float: left;
    align-items: center;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    font-weight: 600;
    display: block;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu .navbar ul li a:hover {
    transition: 0.3s ease;
    transform: scale(1.23);
    color: rgb(46, 196, 255);
    text-shadow: 1px 1px 2px rgb(209, 189, 5);
    transition-delay: 0ms;
}

.menu .navbar ul li a:active {
    transition: 0.3s ease;
    transform: scale(1.1);
    color: rgb(46, 196, 255);
    text-shadow: 1px 1px 2px rosybrown;
    transition-delay: 0ms;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(https://imgs.search.brave.com/oZ-JQHuMs12nR9WZkK3bbDQ43XB-L2E5WQXsFRtjsYU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNi8x/MS8xOS8yMi81Mi9j/b2RpbmctMTg0MTU1/MF9fMzQwLmpwZw);
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #fffdfc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 22px;
    text-transform: capitalize;
    color: #fffdfc;
    padding: 10px 12px;
    margin-bottom: 33px;
}

.fqa {
    background-color: #e1e2e6;
    background-size: cover;
    padding: 100px 0px;
    display: block;
    min-height: 80vh;
}

.preguntas {
    text-align: center;
}

.preguntas h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 28px;
}

summary {
    display: block;
    text-align: left;
    cursor: pointer;
    font-size: 21px;
    transition: 0.4s;
    margin-bottom: 14px;
}

details{
    margin-left: 133px;
    margin-right: 133px;
}

summary:hover {
    transition: 0.4s;
    font-size: 22px;
}

summary:active {
    transition: 0.4s;
    transform: scale(0.989);
}

.sumario-preguntas p {
    padding: 5px 33px;
    background-color: antiquewhite;
    border: 1px outset grey;
    border-radius: 33px;
    text-align: left;
    margin-bottom: 14px;
    text-align: justify;
}

.footer {
    padding: 65px 0;
    background-color: #323337;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.link h3 {
    font-size: 20px;
    color: #e8eaf0;
    margin-bottom: 15px;
}

.link h3 a {
    font-size: 20px;
    color: #e8eaf0;
    margin-bottom: 15px;
}

.link a {
    font-size: 18px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}