@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&family=Suwannaphum:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Suwannaphum", serif;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;    
}

.menu {
    position: sticky;
    background-color: rgba(0,0,0,0.7);
    min-width: 100%;
    padding-left: 15vh;
    padding-right: 12vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 1px; 
    font-weight: 800;
    transition: 0.5s;
}

.logo:hover {
    transition: 0.5s;
    transform: scale(1.23);
}

.logo:active {
    transition: 0.5s;
    transform: scale(1.1);
}

.menu-titulo {
    margin: 0px;
    font-weight: 600;
    font-size: 21px;
    color: #fffdfc;
    position: relative;
    display: flex;
    margin-right: 18%;
}

.menu .navbar {
    float: left;
    align-items: center;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    font-weight: 600;
    display: block;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu .navbar ul li a:hover {
    transition: 0.3s ease;
    transform: scale(1.23);
    color: rgb(46, 196, 255);
    text-shadow: 1px 1px 2px rgb(209, 189, 5);
    transition-delay: 0ms;
}

.menu .navbar ul li a:active {
    transition: 0.3s ease;
    transform: scale(1.1);
    color: rgb(46, 196, 255);
    text-shadow: 1px 1px 2px rosybrown;
    transition-delay: 0ms;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(https://imgs.search.brave.com/oZ-JQHuMs12nR9WZkK3bbDQ43XB-L2E5WQXsFRtjsYU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNi8x/MS8xOS8yMi81Mi9j/b2RpbmctMTg0MTU1/MF9fMzQwLmpwZw);
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #fffdfc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 22px;
    text-transform: capitalize;
    color: #fffdfc;
    padding: 10px 12px;
    margin-bottom: 33px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #238aff;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.4s;
}

.btn-1:hover {
    transition: 0.4s;
    transform: scale(1.08);
    background-color: rgb(0, 210, 238);
    box-shadow: 2px 2px 4px rgb(209, 189, 5);
    box-sizing: border-box;
}

.btn-1:active {
    transition: 0.4s;
    transform: scale(0.99);
    background-color: rgb(0, 210, 238);
    box-shadow: 2px 2px 4px rosybrown;
    box-sizing: border-box;
}

.quiensomos {
    overflow: hidden;;
    padding: 100px 0;
    background-color: #e1e2e6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.quiensomos-content h2 {
    text-align: center;
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-shadow: none;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 18px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.quiensomos-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.quiensomos-1 {
    padding: 0 3ch;
}

.contactos {
    background-image: url(https://imgs.search.brave.com/Iow9o5l818Lp1lxNTLqx5x0eR1upjgmlxFzjfTiCZJw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTA1/NTA5NzUyOC9lcy9m/b3RvLzRrLWF6dWwt/aGllbG8ud2VicD9i/PTEmcz0xNzA2Njdh/Jnc9MCZrPTIwJmM9/ZHdaM29ndHNFRFVn/ajR3cV81SnhVN2Yx/YTBmbTlIdzMyOVpn/YTRWLUg5cz0);    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
}

.contactos-content {
    text-align: center;
}

.contactos-content h2 {
    color: white;
    font-size: 46px;
    text-shadow: none;
    line-height: 92px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.contactos-content p {
    font-size: 18px;
    color: white;
    margin-bottom: 50px;
    padding: 0 100px;
}

.contactos-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.contactos-1 img {
    width: 125px;
    height: 90px;
    margin-bottom: 8px;
    border-radius: 20px;
}

.contactos-1 img.foto-mastodon {
    width: 150px;
    height: 90px;
    margin-bottom: 8px;
}

.contactos-1 h3 {
    color: white;
    font-size: 21px;
}

.general {
    display: flex;
}

h2 {
    font-size: 55px;
    line-height: 69px;
    color: rgb(209, 189, 5);
    text-shadow: 4px 4px #238aff;
    text-transform: capitalize;
    margin-bottom: 24px;
}

p {
    font-size: 18px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.footer {
    padding: 65px 0;
    background-color: #323337;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.link h3 {
    font-size: 20px;
    color: #e8eaf0;
    margin-bottom: 15px;
}

.link summary {
    font-size: 20px;
    color: #e8eaf0;
    margin-bottom: 15px;
    transition: 0.3s;
}

.link summary:hover {
    font-size: 20px;
    color: #e8eaf0;
    margin-bottom: 15px;
    transform: scale(1.2);
    transition: 0.3s;
}


.link h3 a {
    font-size: 20px;
    color: #e8eaf0;
    margin-bottom: 15px;
}


.link a {
    font-size: 18px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}

.link details p {
    font-size: 18px;
    color: #C5C5C5;
    margin-bottom: 15px;
}

