@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;    
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    min-width: 100%;
    padding-left: 15vh;
    padding-right: 15vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 25px; 
    font-weight: 800;
}

.menu .navbar {
    float: left;
    align-items: center;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: rgb(46, 196, 255);
}

.menu-icono {
    width: 55px;
}

#menu {
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #fffdfc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #fffdfc;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #238aff;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.6s;
}

.btn-1:hover {
    transition: 0.6s;
    background-color: rgb(0, 210, 238);
}

.cofee {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.cofee-content {
    text-align: center;
}

.cofee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.cofee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cofee-1 img {
    width: 200px;
}

.cofee-img {
    position: absolute;
    top: 0;
    right: 0;
}