@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&family=Suwannaphum:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Suwannaphum", serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;    
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(https://imgs.search.brave.com/oZ-JQHuMs12nR9WZkK3bbDQ43XB-L2E5WQXsFRtjsYU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNi8x/MS8xOS8yMi81Mi9j/b2RpbmctMTg0MTU1/MF9fMzQwLmpwZw);
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;
    display: flex;
    align-items: center;
    animation: rico 1.5s  normal;
}

@keyframes rico {

    0% {
        transform: scale(0);
        background-color: #414247;
    }

    50% {
        transform: scale(0);
        background-color: #414247;
    }

    100% {
        transform: scale(1);
    }

}


.menu {
    position: sticky;
    background-color: rgba(0,0,0,0.7);
    min-width: 100%;
    padding-left: 15vh;
    padding-right: 12vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 25px; 
    font-weight: 800;
    transition: 0.5s;
}

.logo:hover {
    transition: 0.5s;
    transform: scale(1.23);
}

.logo:active {
    transition: 0.5s;
    transform: scale(1.1);
}

.menu-titulo {
    margin: 0px;
    font-weight: 600;
    font-size: 21px;
    color: #fffdfc;
    position: relative;
    display: flex;
    margin-right: 18%;
}

.menu .navbar {
    float: left;
    align-items: center;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    font-weight: 600;
    display: block;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu .navbar ul li a:hover {
    transition: 0.3s ease;
    transform: scale(1.23);
    color: rgb(46, 196, 255);
    text-shadow: 1px 1px 2px rgb(209, 189, 5);
    transition-delay: 0ms;
}

.menu .navbar ul li a:active {
    transition: 0.3s ease;
    transform: scale(1.1);
    color: rgb(46, 196, 255);
    text-shadow: 1px 1px 2px rosybrown;
    transition-delay: 0ms;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #fffdfc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 18px;
    color: #fffdfc;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #238aff;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.4s;
}

.btn-1:hover {
    transition: 0.4s;
    transform: scale(1.08);
    background-color: rgb(0, 210, 238);
    box-shadow: 2px 2px 4px rgb(209, 189, 5);
    box-sizing: border-box;
}

.btn-1:active {
    transition: 0.4s;
    transform: scale(0.99);
    background-color: rgb(0, 210, 238);
    box-shadow: 2px 2px 4px rosybrown;
    box-sizing: border-box;
}

.servicios {
    overflow: hidden;;
    padding: 100px 0;
    background-color: #e1e2e6;
    
}

.servicios-content {
    text-align: center;
}

.servicios-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-shadow: none;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 18px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.servicios-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.servicios-1 {
    padding: 0 3ch;
}

.servicios-1 img {
    width: 200px;
}

.servicios-1 h3 {
    color: #238aff;
    font-size: 22px;
    margin-bottom: 8px; 
}

.productos {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://cdn.pixabay.com/photo/2020/07/02/04/31/matrix-5361690_1280.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
}

.productos-content {
    text-align: center;
}

.productos-content h2 {
    color: #238aff;
    font-size: 46px;
    text-shadow: none;
    line-height: 92px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.productos-content p {
    font-size: 18px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.productos-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.productos-1 {
    padding: 0 100px;
}

.productos-1 img {
    width: 120px;
    height: 100px;
    margin-bottom: 8px;
}

.productos-1 h3 {
    color: #eaccb3;
    font-size: 21px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-2 {
    background-image: url(https://www.adslzone.net/app/uploads-adslzone.net/2021/05/hacker-tipos.jpg?x=480&y=375&quality=40);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(https://t1.uc.ltmcdn.com/es/posts/6/9/3/tipos_de_hackers_segun_su_conducta_49396_orig.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 69px;
    color: rgb(209, 189, 5);
    text-shadow: 4px 4px #238aff;
    text-transform: capitalize;
    margin-bottom: 24px;
}

p {
    font-size: 18px;
    color: #414247;
    line-height: 29px;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0px;
    text-align: center;
    
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.image1-blog-1{
    background-image: url(https://www.colegiojurista.com/blog/wp-content/uploads/2022/07/hackers-300x300.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 195px;
    border-radius: 23px;
    margin-bottom: 15px;
    transition: 0.03s;
}

.image2-blog-1{
    background-image: url(https://imgs.search.brave.com/TVsmqJorCbyppMWG5eZGLvKVHAoIbcYeaVK8AwtXsUo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtcHJlbWl1/bS9jcmltZW4tZGln/aXRhbC1oYWNrZXIt/YW5vbmltb181Mzg3/Ni00MTU5NC5qcGc_/c2l6ZT02MjYmZXh0/PWpwZw);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 195px;
    border-radius: 23px;
    margin-bottom: 15px;
    transition: 0.03s;
}

.image3-blog-1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-PkNMDNC5UimYA9Kiy2VxPRsmRasn3s6Dzo_p3-0-VWLCRqh9GOkeMArnH7whou-2blg&usqp=CAU);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 195px;
    border-radius: 23px;
    margin-bottom: 15px;
    transition: 0.03s;
}

.blog-1 img:hover {
    background-image: url(https://ih1.redbubble.net/image.4538678839.3928/flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.03s;
}

.blog-1 h3 {
    font-size: 23px;
    color: #238aff;
    text-decoration-line: underline;
    text-decoration-color: rgb(228, 207, 25);
    transition: 0.3s;
}

.blog-1 h3:hover {
    transition: 0.3s;
    font-size: 23px;
    color: #238aff;
    text-decoration-line: underline;
    text-decoration-color: rgba(223, 46, 46, 0.938);
}

.footer {
    padding: 70px 0;
    background-color: #323337;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.link h3 {
    font-size: 20px;
    color: #e8eaf0;
    margin-bottom: 15px;
}

.link h3 a {
    font-size: 20px;
    color: #e8eaf0;
    margin-bottom: 15px;
}

.link a {
    font-size: 18px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}











.prueba {
    margin-top: 333px;
}

.cuadrado {
    width: 100px;
    height: 100px;
    margin: 100px 0px;
    background: #238aff;
    position: relative;
    animation: hola 5s ease-in-out infinite;
}

@keyframes hola {

    0% {
        left: 0%;
        background: #238aff;
    }

    50% {
        left: 94.69%;
        background: yellow;
    }

    100% {
        left: 0%;
        background: greenyellow;
    }
}



.recarga {
    display: flex;
    justify-content: center;
    margin: 220px;
}

.recarga1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 100px;
    background-color: #414247;
    position: relative;
    animation: recarga 2.5s ease-in-out infinite;

}

.recarga2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 100px;
    background-color: #414247;
    position: relative;
    animation: recarga 2.5s ease-in-out infinite;
    animation-delay: 0.5s;
}

.recarga3 {
    width: 50px;
    height: 50x;
    border-radius: 50%;
    margin-right: 100px;
    background-color: #414247;
    position: relative;
    animation: recarga 2.5s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes recarga {

    0%, 100% {
        transform: scale(0.5);
        background: #414247;
    }

    50% {
        transform: scale(1);
        background: #414247;
    }

}
